site_name: Learn C++
site_author: Coding Armadillo
theme:
  name: material
  favicon: https://cdn0.iconfinder.com/data/icons/icocentre-free-icons/152/f-code-cpp_128-512.png
  logo: https://cdn0.iconfinder.com/data/icons/icocentre-free-icons/152/f-code-cpp_128-512.png
  font:
    text: Roboto
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: cyan
      accent: cyan
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - header.autohide
repo_name: coding-armadillo/learn-cpp
repo_url: https://github.com/coding-armadillo/learn-cpp
copyright: Copyright &copy; 2022 Coding Armadillo
nav:
  - Home: index.md
  - Installation: get-started.md
  - Basics: basics.md
  - Conditionals: conditionals.md
  - Loops: loops.md
plugins:
  - search
  - tags
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date
  - glightbox
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.emoji
extra:
  social:
    - icon: fontawesome/solid/house
      link: https://coding-armadillo.github.io/
    - icon: fontawesome/brands/github
      link: https://github.com/coding-armadillo
    - icon: fontawesome/solid/paper-plane
      link: mailto:hello.coding.armadillo@gmail.com
